:root {
    --border-radius: .4rem
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: #444;
    color: #ffffff;
    font-family: Robolo, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

header {
    padding: 1rem 2rem;
    background: #333;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 0.3rem 0.6rem;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo:hover {
    border-color: #fff;
    transition: border-color .15s;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav span {
    color: #959595;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

nav span:hover {
    color: #fff;
    transition: color .15s;
}

.counter {
    border: 1px solid rgba(255, 165, 0, 0.5);
    color: #fff;
        padding: 1rem 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--border-radius);
}

.counter button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: #333;
    cursor: pointer;
    background: #c13900;
}

.counter button:hover {
    background: #c1552f;
    transition: background .15s;
}

main {
    padding: 1rem 2rem;
}